#data-register-container{
    position: relative;
    /*background-color: #EFEFEF;*/
    /*width: 25vw;
    height: 70vh;*/
    width: 20.5rem;
    height: 35rem;
    border-radius: 0.5rem;
    border: none;
    margin: 2rem auto;
    -webkit-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    background: linear-gradient(180deg, #d7dde8 30%,   #757f9a 100%);
    grid-column:span 2;
    align-content: center;
    align-self: center;
    margin-top: 10%;
    
}

#data-register-btn-header{
    display: none;
    justify-content: flex-end;
    align-items: center;
   /* background-color: #74C1B5;*/
    background-color: rgb( 44, 62, 80, 0.5);
    width: 20.5rem;
    height: 4rem;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
    padding-right:0;
    
}

#data-register-body{
    width: 21.5rem;
    /*padding: 0vh 2vh;*/
   
}

#data-register-delete-btn{
    display: flex;
    width:2.5rem;
    height:2.5rem;
    border-radius:6vh;
    border: none;
    font-size:1rem;
    font-weight: bold;
    margin-right: 2%;
    background-color: #678998;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.card-btn{
    display: flex;
    width:2.5rem;
    height:2.5rem;
    margin: 2% !important;
}
.card-delete-btn{
    display: flex;
    width:2.5rem;
    height:2.5rem;
    margin: 2% !important;
}
.fa-solid{
    font-size: 3rem;
    padding: 1rem;
    color: #fff;
}
#changeTable{
    font-size: 5vh;
    color: #000;
    margin-left: 4vh;
}
#arrow{
    color: #000;
    font-size: 1.2rem;
}
#data-register-update-btn{
    display: flex;
    width:2.5rem;
    height:2.5rem;
    border: none;
    font-size:1rem;
    font-weight: bold;
   /* margin-right: 0.5rem;*/
    background-color: #678998;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
#print{
    display: flex;
    width:2rem;
    height:2rem;
    border-radius:2rem;
    border: none;
    font-size:1rem;
    font-weight: bold;
    margin-right: 0.5rem;
    background-color: #678998; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
}

/*
  Table Style
*/
#info-table{
    width: 20.5rem;
      
}
#info-th{
    height: 1.5rem;
    font-size:1rem;
    color: black;
    border-top: 0.1rem solid #000;
    border-bottom: 0.1rem solid #000;
    text-align:center;
}
#info-td{
    font-size:0.8rem;
    padding-top: 0.5rem;
    text-align:center
   
}

#data-footer{
    position: absolute;
    display: flex;
    top: 88%;
    width: 20.5rem;
    justify-content:flex-end;
    align-items: flex-end;
    border-bottom:0.1rem solid #000;
}
#info-header{
    position: relative;
    padding: 0vh 1rem;
}
#info-header-text{
    text-align: end;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}
#info-header-title{
    font-weight: bold;
    font-size: 1rem;
    color: #000;
}

#info-header-title2{
    /*font-weight: bold;*/
    font-size: 1rem;
    color: #000;
}

#info-total-text{
    font-size:0.8rem;
    font-weight: bold;
    margin-right: 1rem;
    color: #000;
}