#print-line{
    width: 100%;
    height: 2vh;
    background-color: #042D55;
    margin-top: 2Vh;
}
#print-line2{
    position: absolute;
    top: 98vh;
    width: 100%;
    height: 2vh;
    background-color: #042D55;
   
}
#print-footer-text{
    position: absolute;
    top: 90vh;
    width: 100%;
    height: 2vh;
    color: #000;
  
}
#print-header{
    position: relative;
    padding: 0vh 0vh;
}

#print-titile-image-body{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1%;
    
}

#image-print{
    width: 20%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
#print-header-text{
    display:block;
    width: 100%;
    font-size: 3vh;
    font-weight: bold;
    text-align: end;
    color: #000;
    
}
#print-header-text2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 2vh;
    color: #000;
}
#print-header-title{
    color: #000;
    font-weight: bold;
    font-size: 2vh;
  
}

#print-header-title2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /*font-weight: bold;*/
    font-size: 2vh;
    color: #000;
}

#print-total-text{
    font-size:2.2vh;
    font-weight: bold;
    color: #000;
}


#print-register-body{
    width: 100%;
    padding: 0vh 0vh;
   
}

#print-register-delete-btn{
    width:6vh;
    height:6vh;
    border-radius:6vh;
    border: none;
    font-size:1.7vh;
    font-weight: bold;
    margin-right: 2%;
    background-color: #678998;
}
.fa-solid{
    font-size: 3vh;
    padding: 3%;
    color: #fff;
}

#print-register-update-btn{
    width:6vh;
    height:6vh;
    border-radius:6vh;
    border: none;
    font-size:1.7vh;
    font-weight: bold;
    margin-right: 2%;
    background-color: #678998;
}
#print-btn{
    display: flex;
    width:6vh;
    height:6vh;
    border-radius:6vh;
    border: none;
    font-size:1.7vh;
    font-weight: bold;
    margin-right: 2%;
    background-color: #678998; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#print-table{
    width: 100%;
   
}
#print-th{
    height: 2vh;
    font-size:2vh;
    color: black;
    border-top: 0.2vh solid #000;
    border-bottom:0.2vh solid #000;
    text-align:center;
}
#print-td{
    font-size:2vh;
    padding-top: 0.5vh;
    text-align:center;
    color: #000;
}

#print-footer{
    position: absolute;
    display: flex;
    top: 80%;
    width: 100%;
    justify-content:flex-end;
    align-items: flex-end;
    border-bottom:0.2vh solid #000;
}